@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --main-color: #68bab3;
    --secondary-color: #d2e4e5;
    --light-gray: #efefef;
    --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --box-shadow2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 768px) {
    #category-container button {
        padding: 7px 12px;
    }

    .alphabet-container button {
        height: 28px;
        width: 28px;
    }

    #hidden-word {
        margin-top: 20px;
        font-size: 2.2rem;
    }

    .new-game-popup {
        flex-wrap: wrap;
    }
    .new-game-popup p {
        text-align: center;
        font-size: 18px;
        margin-top: 20px;
    }
}
